@font-face {
  font-family: Manrope;
  src: url(@/assets/fonts/Manrope/Manrope-VariableFont_wght.ttf);
}
a {
  color: rgba(0, 0, 0, 1);
  text-decoration: none !important;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.bg--orange {
  background-color: rgba(252, 76, 1, 1);
}
.text--orange {
  color: rgba(252, 76, 1, 1);
}
.btn.outline--orange {
  border: 1px solid rgba(252, 76, 1, 1);
}
.btn.bg--orange {
  background-color: rgba(252, 76, 1, 1);
}
.btn.text--orange {
  color: rgba(252, 76, 1, 1);
}
.search {
  background: rgba(195, 195, 195, 0.21);
  border: 0.597283px solid rgba(1, 1, 1, 0.2);
}
.searchbar::placeholder {
  color: rgba(1, 1, 1, 0.3);
}
.bg--footer {
  background: rgba(6, 6, 16, 1);
}
.has-icon .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
}
.has-icon .form-control {
  padding-left: 2.375rem;
}
ul li {
  list-style: none;
}
.px--16 {
  padding: 0 16rem;
}
.image-div {
  background-size: cover;
}
.justify-items-center {
  justify-items: center;
}
.router-link-exact-active {
  color: rgba(252, 76, 1, 1) !important;
}
